.extinct{
  background-color: white;

  .compo {
    display: flex;

    .imagen {


      img {
             width: 872px;
             margin-top: -15px;
             margin-left: -43px;
      }





    }

    .text9 {
      h2 {
        font-size: 14px;
        font-family: 'NeueHaasUnica';
        width: 427px;
        margin-top: 154px;
        line-height: 23px;
        margin-left: 3px;
        text-align: left;
      }

      h3 {
        font-size: 14px;
        font-family: 'NeueHaasUnica';
        width: 430px;
        margin-top: 17px;
        line-height: 22px;
        margin-left: 3px;
        text-align: left;
      }




      a {
        text-decoration: none;
        font-family: 'NeueHaasUnica';
        color: black;
        font-weight: 700;
      }

      .butto {
        margin-top: 28px;
        background-color: black;
        width: 113px;
        height: 28px;
        text-align: center;
        border-radius: 29px;
        padding-top: 8px;
      }

      .proto {
        color: white;
        font-size: 13px;
      }

    }
  }

  .iconabout {
        margin-top: -27px;

    img {
      width: 25px;
      margin-left: 20px;
      margin-top: 17px;
    }

  }



}
