.caldera{
  background-color: white;

    .compo {
      display: flex;

      .imagen {


        img {
            width: 988px;
            margin-top: 42px;
            margin-left: 218px;


        }

      }

    }

    h1 {
     color: black;
     margin-top: 6px;
     font-family: 'NeueHaasUnica';
     font-size: 25px;
     margin-left: 70px;

    }

    .iconabout {
      img {
        width: 25px;
        margin-left: 20px;
           margin-top: 33px;

      }

    }


}
