.about {
  background-color: black;
}

.hola{
  h1 {
     color: white;
     font-family: 'NeueHaasUnica';
     font-size: 170px;
     /* text-align: center; */
     margin-top: 250px;
     margin-left: 153px;
  }


}
