.caldera2 {
  background-color: white;

  .compo {
    display: flex;
       margin-top: -59px;

    .imagen {


      img {
      width: 832px;
      margin-top: 123px;
      margin-left: 63px;



      }

    }
    .tt {


      h1 {
        color: black;
        margin-top: 132px;
        font-family: 'NeueHaasUnica';
        font-size: 14px;
        margin-left: 70px;
        width: 425px;
        line-height: 20px;
        text-align: left;

      }

      h2 {
        color: black;
        margin-top: 6px;
        font-family: 'NeueHaasUnica';
        font-size: 14px;
        margin-left: 70px;
        width: 425px;
        line-height: 20px;
        text-align: left;

      }

      h3 {
        color: black;
        margin-top: 6px;
        font-family: 'NeueHaasUnica';
        font-size: 14px;
        margin-left: 70px;
        width: 425px;
        line-height: 20px;
        text-align: left;

      }
    }

  }




  .iconabout {
        margin-top: 84px;

    img {
      width: 25px;
      margin-left: 20px;
      margin-top:0px;

    }

  }

  h1{
   color: black;
   margin-top: 53px;
   font-family: 'NeueHaasUnica';
   font-size: 34px;
   text-align: center;

  }

  h2{
  color: black;
  margin-top: 10px;
  font-family: 'NeueHaasUnica';
  font-size: 19px;
  text-align: center;

  }


}
