.contact{
  background-color: black;
}

.info{

  h1{
    font-family: 'NeueHaasUnica';
    font-size: 43px;
    color: white;
    /* text-align: center; */
    margin-top: 280px;
    width: 387px;
    margin-left: 200px;
    line-height: 60px;
  }

}
