.contact{
  background-color: black;
}

.info{

  h1{
       font-family: 'NeueHaasUnica';
       font-size: 59px;
       color: white;
       /* text-align: center; */
       margin-top: 220px;
       width: 520px;
       margin-left: 200px;
       line-height: 75px;
  }

}

.icon{
 margin-top: -64px;

  img{
        width: 51px;
        margin-left: 751px;

  }

}

.presentation{
        margin-top: 280px;
        margin-left: 1217px;
  h1{
    color:white;
    font-size: 10px;
    font-family: 'NeueHaasUnica';
  }
}
