.description{
  background-color: white;


  .profilepic {
    img {

          width: 1059px;
          margin-left: 219px;
          margin-top: -4px;
    }

  }

  .iconblack {

    img {
      width: 25px;
      margin-left: 20px;
      margin-top: 0px;
    }
  }


}
