.description{
  background-color: white;
}

.hey{

  h1{
   font-family: 'NeueHaasUnica';
   font-size: 56px;
   text-align: left;
   /* text-align: left; */
   width: 434px;
   margin-left: 219px;
   margin-top: 67px;
    line-height: 60px;

  }

  h2{
     font-family: 'NeueHaasUnica';
     font-size: 14px;
     margin-top: 39px;
     margin-left: 219px;
     width: 242px;
     letter-spacing: 0.6px;
     line-height: 22px;

  }
}

.heyo{
   display: flex;

  h3{

        font-family: 'NeueHaasUnica';
        font-size: 29px;
        margin-left: 219px;
        margin-top: 95px;
        width: 269px;
        line-height: 33px;
  }

  h4{
        margin-top: 96px;
        font-family: 'NeueHaasUnica';
        margin-left: 110px;
        width: 378px;
         line-height: 22px;

  }
}
