.apocalipsis{
  background-color: black;

   .compo {
     display: flex;
      width: 1000px;
      margin-left: 205px;
      margin-top: 59px;

      .imagen {
        display: flex;

        img {
          padding: 20px;
        }
      }
  }
   h1{
     font-family: 'NeueHaasUnica';
     color: white;
     text-align: center;
     margin-top: 34px;
     font-size:70px;
  }
  .iconabout {
    img {
      width: 25px;
      margin-left: 20px;
      margin-top: 2px;
    }
  }
}
