.works{
  background-color: white;


  h2 {
    margin-top: 40px;
    font-size: 15px;
      font-family: 'NeueHaasUnica';
      text-align: center;

      font-weight: 100;



  }

  .list{
    display: flex;
    margin-left: 58px;
    margin-top: 30px;
  }

  .card{
        width: 17rem;
        padding: 20px;

        margin-top: 43px;
  }
 .card-img-top{
       height: 200px;

 }
 .card-body{
   margin-top: 15px;
   font-family: 'NeueHaasUnica';
   font-size: 13px;
   line-height: 19px;
    text-align: center;
     color: black;
     visibility: hidden;
     opacity: 0;

     /* transition effect. not necessary */
     transition: opacity .2s,
     visibility .2s;
 }

  .card:hover .card-body{
    visibility: visible;
    opacity: 1;
  }



}
