.works{
  background-color: white;

  h1{
        font-size: 34px;
        font-family: 'Cormorant Garamond',
        serif;
        text-align: center;
        margin-top: 44px;


  }

  h2 {
       font-size: 17px;
       font-family: 'Cormorant Garamond',
       serif;
       text-align: center;
       margin-top: 14px;



  }

  .list{
    display: flex;
    margin-left: 32px;
  }

  .card{
        width: 17rem;
        padding: 20px;

        margin-top: 43px;
  }
 .card-img-top{
       height: 200px;

 }
 .card-body{
   margin-top: 15px;
   font-family: 'NeueHaasUnica';
   font-size: 13px;
   line-height: 19px;
    text-align: center;
     color: black;
     visibility: hidden;
     opacity: 0;

     /* transition effect. not necessary */
     transition: opacity .2s,
     visibility .2s;
 }

  .card:hover .card-body{
    visibility: visible;
    opacity: 1;
  }



}
