.works{
  background-color: white;


  h1{
        text-align: center;
        font-family: 'NeueHaasUnica';
        margin-top: 36px;
  }
  .container{
    display: flex;
    align-items: center;


  }
}


.item{


  img{
      width: 309px;
      border-radius: 9px;
      margin-top: 72px;
      margin-left: 42px;

  }

  h3{
        margin-left: 182px;
        margin-top: 16px;
        font-family: 'NeueHaasUnica';
        font-size: 18px;
  }

  h4 {
     margin-left: 158px;
     margin-top: 6px;
     font-family: 'NeueHaasUnica';
     font-size: 12px;
  }



}

.item2 {

  img {
    width: 309px;
    border-radius: 9px;
    margin-top: 171px;
    margin-left: 42px;

  }

  h3 {
    margin-left: 182px;
    margin-top: 16px;
    font-family: 'NeueHaasUnica';
    font-size: 18px;
  }

  h4 {
    margin-left: 158px;
    margin-top: 9px;
    font-family: 'NeueHaasUnica';
    font-size: 12px;
  }



}

.item3 {

  img {
    width: 309px;
    border-radius: 9px;
    margin-top: 171px;
    margin-left: 42px;

  }

  h3 {
    margin-left: 182px;
    margin-top: 16px;
    font-family: 'NeueHaasUnica';
    font-size: 18px;
  }

  h4 {
    margin-left: 158px;
    margin-top: 9px;
    font-family: 'NeueHaasUnica';
    font-size: 12px;
  }



}
