.works{
  background-color: white;

  .list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 106%;
    left: -3%;
    padding: 0, 4%;
  }

  .proyect{
    text-align: center;
    width: 33.333%;
    display: inline-block;
    margin-bottom: 60px;
    cursor: pointer;



    img{
      display: block;
      max-width: 100%;
      max-height: 27vh;
      margin: 0 auto;
    }

    .info{
          margin-top: 20px;
          font-family: 'NeueHaasUnica';
          font-size: 7px;
          line-height: 15px;
    }
  }





}
