.intro{

  h1 {
           margin-top: 529px;
           margin-left: 38px;
           font-size: 128px;
           z-index: 920;
           width: 403px;
           color: black;
           position: absolute;
           font-family: 'NeueHaasUnica';

  }
  .video{
       position: absolute;
       width: 140%;
       height: 100%;
       object-fit: cover;
       right: -7%;
       }



}
