.bounce {
  background-color: black;
    .compo {
      display: flex;

      .imagen {


        img {
              width: 1200px;
              margin-top: -22px;
              margin-left: 81px;

        }

      }

    }

    h1{
      color: yellow;
      margin-top: -102px;
      font-family: 'NeueHaasUnica';
      font-size: 49px;
      margin-left: 94px;
    }
    .iconabout {
      img {
        width: 25px;
        margin-left: 20px;
           margin-top: 0px;
      }

    }
}
