.bounce2{
   background:black;

  .bb{


  display:flex;
  margin-top: 65px;
      margin-left: 74px;


    .texti {
      h1 {
            color: white;
            font-size: 14px;
            font-family: 'NeueHaasUnica';
            margin-top: 15px;
            line-height: 20px;
            width: 365px;
            margin-left: 64px;
            text-align: left;

      }

      h2 {
        color: white;
        font-size: 14px;
        font-family: 'NeueHaasUnica';
        margin-top: 10px;
        line-height: 20px;
        width: 365px;
        margin-left: 64px;
        text-align: left;
      }

      h3 {
        color: white;
        font-size: 14px;
        font-family: 'NeueHaasUnica';
        margin-top: 10px;
        line-height: 20px;
        width: 365px;
        margin-left: 64px;
        text-align: left;
      }
        h4 {
          color: white;
          font-size: 14px;
          font-family: 'NeueHaasUnica';
          margin-top: 10px;
          line-height: 20px;
          width: 365px;
          margin-left: 64px;
          text-align: left;
        }
        h5 {
          color: white;
          font-size: 14px;
          font-family: 'NeueHaasUnica';
          margin-top: 10px;
          line-height: 20px;
          width: 365px;
          margin-left: 64px;
          text-align: left;
        }

        h6{
          color: white;
          font-family: 'NeueHaasUnica';
          font-size: 12px;
          width: 304px;
          margin-top: 20px;
          line-height: 17px;
          margin-left: 63px;
        }
    }

  .video{
      width: 608px;
      margin-left: 94px;
      margin-top: 8px;

  }
 }
}
